body {
  max-width: 800px;
  background: white;
  margin: auto;
}

/* #about-modal */
.modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

.modal h1 {
  padding-bottom: 15px;
}

/* #about-modal-textbox */
.modal-textbox {
  background-color: white;
  height: 350px;
  width: 550px;
  border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 2%;
  line-height: 120%;
}

.modal-button {
  padding: 14px 18px;
  background-color: #f4511e;
  border: none;
  outline: none;
  border-radius: 12px;
  color: white;
  font-family: "Chilanka", cursive;
  cursor: pointer;
  margin: 25px;
}

.modal-footer {
  text-align: right;
}

.title {
  text-align: center;
  margin: 50px auto;
}

h1 {
  font-family: "Chilanka", cursive;
  font-weight: 800;
  font-size: 50px;
}

.modal h1 {
  font-family: "Chilanka", cursive;
  font-weight: 800;
  font-size: 25px;
}

p {
  font-family: "Chilanka", cursive;
}

ol {
  font-family: "Chilanka", cursive;
}

li {
  padding: 5px;
}

.controls {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

/* button hover styling researched from w3schools */
.button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  display: inline-block;
  font-family: "Chilanka", cursive;
  background-color: #f4511e;
  color: #ffffff;
  text-align: center;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: salmon;
  color: white;
}

/* remove the blue focused border */
button:focus {
  outline: 0;
}

.labels {
  font-size: 24px;
  text-align: center;
  font-family: "Chilanka", cursive;
  padding: 10px;
}

.disk-level {
  font-size: 24px;
  text-align: center;
  font-family: "Chilanka", cursive;
}

.game-board {
  width: 800px;
  height: 400px;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.col {
  border: 2px solid black;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.d-1 {
  height: 35px;
  width: 75px;
  background-image: linear-gradient(90deg, #ed213a, #93291e, #ed213a);
  border-radius: 24px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.d-2 {
  height: 35px;
  width: 125px;
  background-image: linear-gradient(90deg, #373b44, #4286f4, #373b44);
  border-radius: 24px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.d-3 {
  height: 35px;
  width: 175px;
  background-image: linear-gradient(90deg, #fc4a1a, #f7b733, #fc4a1a);
  border-radius: 24px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.d-4 {
  height: 35px;
  width: 225px;
  background-image: linear-gradient(90deg, #20002c, #cbb4d4, #20002c);
  border-radius: 24px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.d-5 {
  height: 35px;
  width: 250px;
  background-image: linear-gradient(90deg, #fc4a1a, #c6426e, #fc4a1a);
  border-radius: 24px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
